# Python cache files
__pycache__/
*.egg

# Log files
*.log
logs/
ResilientGeoDrone\logs\

# Point cloud intermediate files
**/point_cloud/**/

# Timestamped output directories
**/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9][0-9][0-9]/

# Image files
*.jpg
*.jpeg
*.png
*.gif
*.tif
*.tiff
*.bmp
*.webp
data/raw/
data/processed/
data/output/

# Surface model files
*.geojson
*.tif

# Virtual environments
venv/
ENV/
env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace

# WebODM outputs
*.laz
*.zip
*.glb
report_*.pdf

# Temporary files
gap_results/
.DS_Store
Thumbs.db

# Gap output files
*.csv
*.pdf
*.gpkg