# Python Cache Files
__pycache__/
*.egg

# Log Files
*.log
logs/
ResilientGeoDrone\logs\

# Point Cloud Intermediate Files
**/point_cloud/**/

# Timestamped Output Directories
**/[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]_[0-9][0-9][0-9][0-9][0-9][0-9]/

# Image Files
*.jpg
*.jpeg
*.png
*.gif
*.tif
*.tiff
*.bmp
*.webp
*.txt
data/raw/
data/processed/
data/output/

# Surface Model Files
*.geojson
*.tif

# Virtual Environments
venv/
ENV/
env/

# IDE Specific Files
.idea/
.vscode/
*.swp
*.swo
*.sublime-workspace

# WebODM Outputs
*.laz
*.zip
*.glb
report_*.pdf

# Temporary Files
gap_results/
.DS_Store
Thumbs.db