# GUI Framework
PyQt5

# Configuration
PyYAML

# HTTP Client
requests

# Image Processing
opencv-python

# Geospatial Raster Processing
rasterio

# Plotting and Visualization
matplotlib

# Advanced Image Processing
scikit-image

# Geometric Operations
shapely

# Testing And Development
pytest
pytest-cov